@model Infolog.Web.Models.UsuarioViewModel
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cadastro de Usuários</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@(Model.Id == 0 ? "Inclusão" : "Edição")   de Usuário</h3>
        </div>
        <div class="card-body">
            <form id="frm-usuario" action="@Url.Action("Salvar")" method="post">
                <input type="hidden" name="Id" value="@Model.Id" />
                <div class="form-row">
                    <div class="form-group col-md-7">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" id="nome" name="Nome" value="@Model.Nome" required />
                    </div>
                    <div class="form-group col-md-5">
                        <label for="sobrenome">Sobrenome</label>
                        <input type="text" class="form-control" id="sobrenome" name="Sobrenome" value="@Model.Sobrenome" required />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-7">
                        <label for="Email">Email</label>
                        <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email" required />
                    </div>
                    <div class="form-group col-md-5">
                        <label for="Email">Senha</label>
                        <input type="password" class="form-control" id="Senha" name="Senha" @(Model.Id == 0 ? "required" : "") />
                        @if (Model.Id != 0)
                        {
                            <small>*Deixar o campo em branco para manter a senha atual</small>
                        }
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <a href="#" onclick="$('#frm-usuario').submit();" class="btn btn-primary">Salvar</a>
            <a href='@Url.Action("Index")' class="btn btn-secondary">Voltar</a>
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card-body -->
</section>
<!-- /.content -->