@model Infolog.Web.Models.ListClienteViewModel
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cadastro de Clientes</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Listagem de clientes</h3>
        </div>
        <div class="card-body">
            <table id="table-entregadores" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Nome Fantasia</th>
                        <th>Razao Social</th>
                        <th>CNPJ</th>
                        <th>Endereco Principal</th>
                        <th>Telefone</th>
                        <th>Celular</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cliente in Model.Clientes)
                    {
                    <tr>
                        <td>@cliente.NomeFantasia</td>
                        <td>@cliente.RazaoSocial</td>
                        <td>@cliente.EnderecoPrincipal</td>
                        <td>@cliente.Cnpj</td>
                        <td>@cliente.Telefone</td>
                        <td>@cliente.Celular</td>

                        <td><a href="@Url.Action("Editar", new { id = cliente.Id })">Editar</a> <a href="#">Excluír</a></td>
                    </tr>
                    }
                    @if (Model.Clientes.Count == 0)
                    {
                        <tr>
                            <td colspan="99">Nenhum cliente cadastrado</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="card-footer">
            <a href="@Url.Action("Incluir")" class="btn btn-primary">Incluír Cliente</a>
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card-body -->
</section>
<!-- /.content -->
<script>
    $(function () {
        $("#table-usuarios").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": true
        });
    });
</script>